{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container w-50">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 text-center mt-3 mx-auto product-heading shadow-lg">
                <h2>How it Works</h2>
            </div>
        </div>
    </div>
    <div></div><br><br>
    <section>
        <div class="container accounts shadow-lg">
            <div class="row">
                <div class="col-12 col-md-9 offset-md-2">
                    <div class="alluth-form-inner-content">
                        <div class="text-center mx-auto">
                            <h2 class="site-logo my-0">PREVAIL</h2>
                            <p class="site-title"><strong>Weight loss group</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-9 offset-md-2">
                        <h4> Join our local weight loss class</h4>
                        <p>
                            At class you will have a weekly private weigh-in with your 
                            class leader, who can answer any questions you have.
                        </p>
                        <p>
                            You will then sit for a class talk, where the leaders cover many different topics.
                            There are many supports througout the week. Text group with all the members of the class.
                            Weekly news letters, with latest information and new recipe ideas.
                        </p>
                        <p>
                            We are also in the process of creating our very own app. Where you can 
                            track your food plan and progress.
                        </p>
                        <p>
                            Our Plan is called the Balance Plan, based on plan of eating a balanced healthy diet, no food is 
                            off limits, but limits and controls are put on the foods that need watching. We have a team of researchers
                            that have come up with this plan and consulted many resourses.
                        </p>
                        <p>
                            Useful Links
                            <ul>
                                <li>
                                    <a href="https://www.safefood.net/healthy-eating"
                                        target="_blank" rel="noopener">SafeFood</a>
                                </li>
                                <li>
                                    <a href="https://www2.hse.ie/living-well/healthy-eating/how-to-eat-well/"
                                        target="_blank" rel="noopener">HSE How to eat well</a>
                                </li>
                                <li>
                                    <a href="https://www.gov.ie/en/publication/e15e3-eating-well/"
                                        target="_blank" rel="noopener">Gov.ie</a>
                                </li>
                                <li>
                                    <a href="https://www.hsph.harvard.edu/nutritionsource/healthy-eating-plate/"
                                        target="_blank" rel="noopener">Harvard healthy eating plate</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}