{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-50">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 text-center mt-3 mx-auto product-heading shadow-lg">
                <h2>How it Works</h2>
            </div>
        </div>
    </div>
    <div></div><br><br>
    <section>
        <div class="container accounts shadow-lg">
            <div class="row">
                <div class="col-12 col-md-9 offset-md-2">
                    <div class="alluth-form-inner-content">
                        <div class="text-center mx-auto">
                            <h2 class="site-logo my-0">PREVAIL</h2>
                            <p class="site-title"><strong>Weight loss group</strong></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-9 offset-md-2">
                        <h4> Join our local weight loss class</h4>
                        <p>
                            At class you will have a weekly private weigh-in with your 
                            class leader, who can answer any questions you have.
                        </p>
                        <p>
                            You will then sit for a class talk, where the leaders cover many different topics.
                            There are many supports througout the week. Text group with all the members of the class.
                            Weekly news letters, with latest information and new recipe ideas.
                        </p>
                        <p>
                            We are also in the process of creating our very own app. Where you can 
                            track your food plan and progress.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}