{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-50">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 text-center mt-3 mx-auto product-heading shadow-lg">
                <h2>
                    How it Works
                </h2>
            </div>
        </div>
    </div>
{% endblock %}