html {
    height: 100%;
}
main {
    min-height: calc(100vh - 164px);
}

body {
    background: url('/static/media/sneakers-weights-with-copy-space.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #343434;
    font-family: 'Roboto';
    overflow-x: hidden;
}
.footer {
    background-color: #343434;
    color:#fff;
    position: relative;
    bottom: 0;
}

.site-logo {
    font-family: 'cinzel decorative';
    font-weight: 600;
    font-size: 70px;
    -webkit-text-stroke: .5px #d61773;
    color: #d85c98;
    margin-left: 20px;
}

.site-title {
    font-family: 'Roboto';
    font: 30px;
    color:#343434;
    margin-left: 60px;
}

.container-fluid {
    padding: 0;
}

/* automatically show menu on navbar when mouse over */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-headers {
    text-transform: camelcase;
}
.logo-font {
    text-transform: camelcase;
    font-family: 'Dancing Script';
    letter-spacing: 4px;
}

.main-logo-link {
    width: fit-content;
}

.home-page-button {
    background: #343434;
    color: white;
    min-width: 260px;
    margin-bottom: 10px;
}
.headings {
    color:#D5a6bd;
    font-weight: 800;
}
.links {                
    text-decoration: none;
    color:#D5a6bd;
    font-weight: 600;
}

.links:hover {
    text-decoration: none;
    color: #eb65a6;
}

.bg-pink {
    background: rgb(213, 166, 189, 0.7);
}

.btn-black,
.btn-danger {
    background: #343434;
    color: white;
}

.btn-danger:hover {
    background: #343434 !important;
    color:#dc3545 !important; 
}
.card {
    border: 0;
}

.border-red {
    text-decoration: none;
}
.border-red:hover {
    color: #343434;
    border-bottom: 1px solid #dc3545;
}

.btn-outline-dark {
    background: white;
    color: #343434 !important; 
    border: 1px solid #343434;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background: #343434;
    color: white !important;
}

.home-page-button:hover,
.home-page-button:active,
.home-page-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #D5a6bd;
    color: #343434;
    border: 1px solid black;
}

.text-black {
    color: #343434 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-grey {
    background: #343434;
}

.text-white {
    color:#fff;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.product-heading {
    border: 1px solid #343434;
    background: #D5a6bd;
}

.card-img-top {
    height: 300px;
}

a.category-badge > span.badge:hover {
    background: #343434 !important;
    color: #fff !important;

}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;   
}

.footer-section {
    margin: 0;
}

.home-section {
    padding-top: 200px;
}

/*------------------------bootstrap toasts */

.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.accounts {
    background: #fff;
    width: 50%;
    padding: 30px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* mailchimp */
#mc_embed_signup {
    background:#343434;
    clear:left;
    color: #fff;
    font:14px Helvetica, Arial,sans-serif;
    width: 600px;
}
   
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #212121;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

.weight-banner {
    height: 100px;
    padding: 0 50px;
}

.image-banner {
    padding: 0 50px;
}

.image-flash {
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #343434;
    bottom: 50%;
    left: 70%;
    background-color: #D5a6bd;
}

.loss-banner {
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.class-banner {
    height: 100px;
    padding: 0 50px;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 300px;
    }

    .message-container {
        position: fixed;
        top: 110px;
        right: 15px;
        z-index: 999999;
    }
}

/* pad top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {

    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh 116px);
    }

    .header-container {
        padding-top: 200px;
    }
 
    .home-section {
        padding-top: 150px;
    }
    
    .display-4.logo-font.text-black {
    font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .weight-banner {
        padding: 0;
    }

    .image-banner {
        padding: 0;
    }

    .class-banner {
        padding: 0;
    }
}


