html {
    height: 100%;
}

body {
    background: url('/static/media/sneakers-weights-with-copy-space.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #343434;
    font-family: 'Roboto';
}
.container-fluid {
    padding: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-headers {
    text-transform: camelcase;
}
.logo-font {
    text-transform: camelcase;
    font-family: 'Dancing Script';
    letter-spacing: 4px;
}

.main-logo-link {
    width: fit-content;
}

.home-page-button {
    background: #343434;
    color: white;
    min-width: 260px;
    margin-bottom: 10px;
}

.links {
    text-decoration: none;
    color:#D5a6bd;
    font-weight: 600;
}

.btn-black {
    background: #343434;
    color: white;
}

.btn-outline-dark {
    background: white;
    color: #343434 !important; 
    border: 1px solid #343434;
}

.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:focus {
    background: #343434;
    color: white !important;
}

.home-page-button:hover,
.home-page-button:active,
.home-page-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #D5a6bd;
    color: #343434;
    border: 1px solid black;
}

.text-black {
    color: #343434 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-grey {
    background: #343434;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.product-heading {
    border: 1px solid #343434;
    background: #D5a6bd;
    width: 50%;
}
a.category-badge > span.badge:hover {
    background: #343434 !important;
    color: #fff !important;

}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;   
}

.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.accounts {
    background: #fff;
    width: 50%;
    padding: 30px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 280px;
    }

    .message-container {
        position: fixed;
        top: 110px;
        right: 15px;
        z-index: 999999;
    }
}

/* pad top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh 116px);
    }

    .header-container {
        padding-top: 200px;
    }
}