<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-headers font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products'%}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-headers font-weight-bold nav-link text-black mr-5" href="#" id="homewares-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homewares
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homewares-link">
                <a href="{% url 'products' %}?category=kitchen" class="dropdown-item">Kitchen</a>
                <a href="{% url 'products' %}?category=bathroom_scales" class="dropdown-item">Bathroom Scales</a>
                <a href="{% url 'products' %}?category=home_accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=kitchen,bathroom_scales,home_accessories" class="dropdown-item">All Homewares</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-headers font-weight-bold nav-link text-black mr-5" href="#" id="books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="books-link">
                <a href="{% url 'products' %}?category=cooking" class="dropdown-item">Cooking</a>
                <a href="{% url 'products' %}?category=exercise_books" class="dropdown-item">Exercise Books</a>
                <a href="{% url 'products' %}?category=health_plan" class="dropdown-item">Health Plan</a>
                <a href="{% url 'products' %}?category=cooking,exercise_books,health_plan" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-headers font-weight-bold nav-link text-black mr-5" href="#" id="lifestyle-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                LifeStyle
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lifestyle-link">
                <a href="{% url 'products' %}?category=journals" class="dropdown-item">Trackers & Journals</a>
                <a href="{% url 'products' %}?category=exercise_accessories" class="dropdown-item">Exercise Accessories</a>
                <a href="{% url 'products' %}?category=wellness" class="dropdown-item">Wellness</a>
                <a href="{% url 'products' %}?category=journals,exercise_accessories,wellness" class="dropdown-item">All LifeStyle</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-headers font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>