{% extends "base.html" %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 accounts shadow-lg">
            <div class="alluth-form-inner-content">
                <div class="text-center mx-auto">
                    <h2 class="site-logo my-0">PREVAIL</h2>
                    <p class="site-title"><strong>Weight loss group</strong></p>
                </div>
                {% block inner_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}