{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row w-50 offset-3">
        <div class="col text-center mt-3 product-heading">
            <h2>Class Detail</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div><br>

<div class="container-fluid m-3">
    <div class="row w-lg-75 text-center">
        <div class="col-4">
            <h2><strong>County:</strong></h2>
            <h2>{{ class_detail.class_county }}</h2>
        </div>
        <div class="col-4">
            <h2><strong>Town:</strong></h2>
            <h2>{{ class_detail.class_town }}</h2>
        </div>
        <div class="col-4">
            <h2><strong>Address:</strong></h2>
            <h2>{{ class_detail.class_address }}</h2>
        </div>
    </div>
    <div class="row w-lg-75">
        <div class="col-6 text-center">
            <h3><strong>Class Leader:</strong></h3>
            <h3>{{ class_detail.leader_name }}</h3>
        </div>
        <div class="col-6 text-center">
            <h3><strong>Class Time:</strong></h3>
            <h3>{{ class_detail.class_day}} @ {{ class_detail.class_time }}</h3>
        </div>
    </div>
    <div class="row w-lg-75">
        <div class="col-6 text-left">
            <h3><strong>Class Info</strong></h3>
            <h3>{{ class_detail.class_info }}</h3>
        </div>
        <div class="col-6 text-center">
            <h4>
                <a href="{% url 'class_register'%}" class="home-page-button btn btn-lg py-3"><strong>Register for This Class</strong></a>
            </h4>
        </div>
    </div>
</div><br><br>

{% endblock %}